/* Styles.css */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* Color Combinations 

    White: #FFFFFF, Black: #000000

    Butterscotch: #ED9B40, Antique White: #FFEEDB
    Redwood: #AF5B5B, Vanilla: #F0F2A6

*/

:root {

    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-butterscotch: #ED9B40;
    --color-antique-white: #FFEEDB;

    --color-redwood: #AF5B5B;
    --color-vanilla: #F0F2A6;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;

    background-color: #FFEEDB;

    font-family: 'Cormorant Garamond', serif;

}

.message {

    padding: 20px;
    border-radius: 8px;

    background-color: #ED9B40;
    color: #FFFFFF;

    font-size: 24px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    animation: pulsate 3s ease-in-out infinite;

}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}




